apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: qa

resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml

# Common labels applied to all resources
commonLabels:
  managed-by: kustomize
  environment: qa
