apiVersion: v1
kind: Service
metadata:
  name: app-service
  namespace: qa
  labels:
    app: APP_LABEL
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
spec:
  type: LoadBalancer
  selector:
    app: APP_LABEL
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
